-var logo = "Travellers"
-var titulosmenu = ["Reviews", "People", "Partners", "Feedbacks", "Pricing", "Get the App"]
-var titulosmenufooter = ["Reviews", "People", "Partners", "Feedbacks", "Pricing"]
-var tituloscontent = ["Don't listen to what they say, Go see", "Join the biggest community of travellers", "know the people you're going to meet", "choose the plan that's right for you"]
-var tituloscontentsub = ["build up a community", "popular travellers", "pricing table", "standard", "essentials", "premiun"]
-var precingvalor = ["$ 29", "$ 99", "$ 129", "$ 348", "$ 1.188", "$ 1.548"]
-var enlaces

mixin tablepricing(valor, plan, content)
    .pricing__table
        h2.pricing__month #{valor}
        span / Month
        h3.pricing__plan #{plan}
        p #{content}
        hr.line--oscura
        ul      
            li organizes your travel plans
            li Find places near hotel
            li Tallies & displays travel sats
        button(href="#").pricing--buttom Get Started
            i(class="fa fa-arrow-right")




mixin peoplecard(img, name, pais)
    .people__container
        img(src="../img/"+ img, alt="profile")
        h3= name
        h4= pais